@import '../../stylesheets/utils/variables';


button {
  background: $primaryColor;
  color: #fff;
  border: 1px solid $primaryColor;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  font: 0.8rem "Helvetica Neue", Helvetica, sans-serif;
  padding-top: 2px;

  
  &:hover {
    background: $primaryColorHover;
  }

  &:focus {
    outline: none;
  }
}
